<div class="navbar">
    <a [routerLink]="['home']">Información</a>
    <a [routerLink]="['datos']">Datos</a>
    <a [routerLink]="['contacto']">Contacto</a>
    <a [routerLink]="['agenda']">Agenda</a>
</div>
