* {
  box-sizing: border-box;
}


.navbar {
  position: fixed;
  overflow: hidden;
  background-color: rgb(5, 0, 0);
  width: 100%;
}

.navbar a {
  text-shadow: 2px 2px rgba(255, 0, 0, 0);
  float: left;
  display: block;
  color: rgb(255, 253, 253);
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  
}
