@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --cuerpo-height: 65vh;
  --cuerpo-width: calc(var(--cuerpo-height) / 1.5);
}

.cuerpo {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.cuerpo {
  width: var(--cuerpo-width);
  height: var(--cuerpo-height);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgba(88 199 250 / 0% );
}

.form-container:hover {
  font-size: 22px;
  color: rgb(255, 255, 255);
  transition: color 1.5s;
}
.form-container:hover:before,
.form-container:hover:after {
  animation: none;
  opacity: 0;
}

.cuerpo::before {
  content: "";
  width: 104%;
  height: 102%;
  background-image: linear-gradient(
    var(--rotate),
    #ff0000,
    #02008a,
     #2bff00
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.cuerpo::after {
  content: "";
  top: calc(var(--cuerpo-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--cuerpo-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #0004ff,
    rgb(0, 255, 42) 43%,
     #ff0000
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


form{
  margin:4% auto;
  width: 100%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  height: fit-content;
}

.form-container{
  font-weight: bold;
  width: 100%;
  display: grid;
  gap: 0.3em;
  grid-auto-columns: 100%;

}

.form-title{
  font-size: 40px;
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .3em;
}
.form-input{
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border-radius: 0.2em;
}

.form-cta{  
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 900;
  font-size: 1.2rem;
  padding: .7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 400;
}

.form-input-mensaje{
  resize: none;
  padding: 1.8em 1em;
}

.is-invalid{
  border: 1px solid #ff0000a6;
}

.advertencia{
  display: block;
  margin-left: 5%;
  color: #ff0000a6;
}