<div class="cuerpo">
  <form [formGroup]="form" (ngSubmit)="agregarCita()">
    <div class="form-contenido">

      <h1>{{ titulo }} </h1>
      
      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput autocomplete="off" 
        formControlName="nombre" 
        [readonly]="!adicionar"
        />
      </mat-form-field>
      <small class="advertencia" *ngIf="NombreNoValido">
        Ingresar mas de 4 letras
      </small>

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput autocomplete="off" 
        formControlName="apellido"/>
      </mat-form-field>
      <small class="advertencia" *ngIf="ApellidoNoValido">
        Ingresar mas de 4 letras
      </small>

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Correo Electronico</mat-label>
        <input matInput 
        autocomplete="off" 
        formControlName="correo"

        />
      </mat-form-field>
      <small class="advertencia" *ngIf="CorreoNoValido">
        Ingresar un correo electronico valido
      </small>
    

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Celular</mat-label>
        <input matInput 
        autocomplete="off"
        formControlName="celular" 
      />
      </mat-form-field>
      <small class="advertencia" *ngIf="CelularNoValido">
        Ingresar solo numeros
      </small>
      <div class="derecha">
            <mat-form-field class="cajas-dia"  >
              <mat-label>Fecha</mat-label>
              <input matInput 
              autocomplete="off" 
              type="date" 
              formControlName="fecha"
              />
            </mat-form-field>

            <mat-form-field class="cajas-dia" appearance="fill">
              <mat-label>Hora</mat-label>
              <input matInput 
              autocomplete="off"  
              type="time" 
              formControlName="hora"
              />
            </mat-form-field>

            <mat-form-field class="cajas" appearance="fill">
              <mat-label>Descripcion</mat-label>
              <textarea matInput placeholder="mensaje" formControlName="descripcion"></textarea>
            </mat-form-field>


            <button 
                mat-raised-button 
                class="cajas-btn" 
                type="submit" 
                [disabled]="form.invalid" 
                *ngIf="adicionar === true">Enviar</button>

            <button 
                mat-raised-button 
                class="cajas-btn" 
                type="submit" 
                [disabled]="form.invalid" 
                *ngIf="adicionar === false">Modificar</button>
      </div>
    </div>
  </form>
</div>


